@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 100%;
}

h2::after {
  content: "";
  display: block;
  margin-left: 2px;
  width: 100px;
  border-bottom: 2px solid #0e7490;
  margin-top: 4px;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section {
  animation: slideIn 1s ease-in-out;
  padding-top: 30px;
}
